<div class="row">
    <div class="container-fluid">
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="ctrl.addProduct()">Add Product</button>
            <button type="button" class="btn btn-success" ng-click="ctrl.retrieveAll()">Retrieve Products</button>
            <br><br>
            <label for="category">Category: </label>
            <select name="category" id="category" required ng-model="ctrl.searchCriteria">
                <option ng-repeat="type in ctrl.types" value={{type}}>{{type}}</option>
            </select>
            <input type="text" placeholder="Search Criteria" ng-model="ctrl.searchCriteria">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Cuisine</th>
                    <th>Restaurant</th>
                    <th>Address</th>
                    <th>Borough</th>
                    <th>ID</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in ctrl.result | filter:ctrl.searchCriteria">
                    <!--<td>{{product.name}}</td>-->
                    <td><a href ng-click="ctrl.viewProduct(product._id)">{{product.name}}</a></td>
                    <td>{{product.cuisine}}</td>
                    <td>{{product.address.street}}</td>
                    <td>{{product.borough}}</td>
                    <td>{{product.restaurant_id}}</td>
                    <!--<td><a ng-click="ctrl.passProduct(product)"><i class="fa fa-list" aria-hidden="true"></i></a></td>-->
                    <td><a ng-click="ctrl.updateProduct(product._id)"><i class="fa fa-pencil-square" aria-hidden="true"></i></a></td>
                    <td><a ng-click="ctrl.deleteProduct(product)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>